[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==3.0.2"
torch = "==2.3.0"
numpy = "==1.14.5"
gym = "==0.10.9"
tqdm = "==4.28.1"
unityagents = "==0.4.0"
tensorflow = "==1.7.1"

[dev-packages]

[requires]
python_version = "3.10"
